@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
  --first-color: #E3F8FF;
  --second-color: #DCFAFB;
  --third-color: #FFE8DF;
  --accent-color: #FF5151;
  --dark-color: #161616;
}

:root{
  --body-font: 'Open Sans';
  --h1-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

*,::after,::before{
  box-sizing: border-box;
}
body{
  margin: 2rem 0 0 0;
  background-color: #fff;
  color: var(--dark-color);
  font-family: var(--body-font);
}
h1{
  font-size: var(--h1-font-size);
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
